
  #features {
    padding: 7% 15%;
    position: relative;
    z-index: 1;
  }
 
  
  .feature-title {
    font-size: 1.5rem;
  }
  
.feature-box {
text-align: center;
padding: 5%;
}

.information-section{
    background-color: rgb(160, 190, 189);
}
