
   .image-properties {
  height: 350px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
       }

       .image-container{
           padding-top:100px;
           padding-bottom: 50px;
       }