

  img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    padding: 0.75rem;
    
  }
 
  #file[type="file"] {
    display: none;
}

.label{
  height: 50px;
  width: 200px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 2.5rem ;
  cursor: pointer;
  
}
.heading-image{
  text-align: center;
  font-family: 'Alice', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #f7f7f7;
 
}

.label-holder {
  width: 100%;
  height: 50px;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  place-items: center;

  
}
.image-section{

background-color: rgb(101, 146, 150);
}
