
  body{
      background-color: rgb(119, 138, 138);
  }
  
   p{
    margin:10px;
    font-size: 18px;
}


  .footer-paragraph {
    font-size: 100%;
    text-align: center;
    padding-top: 5px;
  
     }
  
    